.url-container{
    width: 50%;
    margin-left: 25%;
    padding-left: 10%;
   
    
}
.encabezado{
    width: 50%;
    margin-left: 25%;
    
}
.envio{
    color: #a8f;
    background-color: white;
}